{% extends 'base.html' %}
{% block page_title %}Båtar{% endblock %}
{% block page_head %}
{% endblock %}
{% block content %}

<table id="myTable" class="tablesorter">
<thead>
    <tr>
        <th><b> Typ </b></th>
        <th><b> Namn </b> </th>
        <th><b> Plats </b> </th>
        <th><b> Skador </b></th>
    </tr>
</thead>
<tbody>
    {% for boat in Boats %}
        <tr>
            <td> {{ boat.boat_type }}</td>
            <td><a href="/batar/edit/{{ boat.id }}">{{ boat.name }}</a> </td>
            <td> {{ boat.location }} </td>
            {% if boat.reporteddamage_set.all %}
                <td>
                {% for damage in boat.reporteddamage_set.all %}
                    {{ damage }} {% if not forloop.last %} <b>|</b> {% endif %}
                {% endfor %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</tbody>
</table>

<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);
</script>

<a href="/ny_bat" title="Ny båt" class="awesome small blue">Ny båt</a>
<a href="/ny_skada" class="awesome large red" title="Ny skada">Ny skada</a>

{% block footer %}
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script> 
{% endblock %}
{% endblock %}
