{% extends "base.html" %}
{% block page_title %}Hem{% endblock %}

{% block content %}

<div id="content">
    {% for newsitem in news %}

        <article>

            <section> 
                <h1>{{ newsitem.title }}</h1>
                <p> {{ newsitem.content }}</p>
            </section>

            <footer>
                Posted {{ newsitem.posted }}
                By {{ newsitem.author }}
            </footer>

        </article>

    {% endfor %}
</div>
            

{% endblock %}
